<div class="container" *ngIf="posts.length > 0">
  <div class="card col-12 offset-1" *ngFor="let post of posts">
    <div class="card-body">
      <h5 class="card-title">
        {{ post.title }}
      </h5>
      <p class="card-text">
        {{ post.content }}
      </p>
    </div>
    <div class="card-footer">
      <a class="btn btn-warning" [routerLink]="['/edit', post.id]">EDIT</a>
      <button class="btn btn-danger" (click)="onDelete(post.id)">DELETE</button>
    </div>
  </div>
</div>
<p *ngIf="posts.length <= 0">No posts added yet.</p>
